body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
}

audio {
  padding: 30px;
}

.shop {
  width: auto !important;
  background: white;
  padding: 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa .fa-instagram {
  background: #125688;
  color: white;
  font-size: 48pt;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.spin{
  animation-name: zoom-in-zoom-out;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
